/* Profile container */
.myprofile-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1),
    -10px -10px 10px rgba(227, 227, 227, 0.5);
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 3%;
}
/* Display name */
.displayName {
  font-size: 24px;
  font-weight: light;
  margin: auto;
  margin-left: 20px;
}

.email {
  font-size: 18px;
  font-weight: light;
  margin: auto;
  margin-left: 20px;
}

/* Bio section */
.bio {
  font-size: 16px;
  margin-bottom: 10px;
  background-color: rgb(240, 240, 240);
  padding: 1em;
  border-radius: 8px;
}

.bio text {
  font-size: 14px;
  margin-bottom: 20px;
}

/* Interests section */
.interests {
  font-size: 14px;
  background-color: #ff0000;
  margin-bottom: 20px;
}

/* Edit icon */
.edit-icon {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-icon:hover {
  background-color: #0056b3;
}

/* Modal (pop-up form) */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.avatar {
  width: 100px;
  border-radius: 50px;
}

/* Container for the interests section */
.interests-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust as needed */
}

/* Individual interest blocks */
.interests-container .interest-block {
  display: inline-block;
  padding: 10px; /* Adjust as needed */
  background-color: blue; /* Adjust as needed */
  color: white; /* Adjust as needed */
  border-radius: 5px; /* Adjust as needed */
}

/* Edit and Save buttons */
.edit-icon, .save-button {
  margin-top: 10px; /* Adjust as needed */
  padding: 5px 10px; /* Adjust as needed */
  background-color: grey; /* Adjust as needed */
  color: white; /* Adjust as needed */
  border: none;
  border-radius: 5px; /* Adjust as needed */
  cursor: pointer;
}

/* Input field for adding new interest */
.new-interest-input {
  margin-top: 10px; /* Adjust as needed */
  padding: 5px; /* Adjust as needed */
  border: 1px solid grey; /* Adjust as needed */
  border-radius: 5px; /* Adjust as needed */
}
