.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.LoginPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://blog.purestorage.com/wp-content/uploads/2020/08/iStock-959769248-scaled.jpg'); /* Use a local path or a URL */
  background-size: cover;
}

.SigninContainer {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add some shadow for depth */
  width: 500px; /* Adjust width as needed */
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd; /* A light gray border */
}

button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: darkblue;
}
