.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;
  opacity: 0.8;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2), /* dark Shadow for right and bottom */
               -5px -5px 10px rgba(255, 255, 255, 0.5); /* Light shadow for top and left */
  
}

.navbar li {
  float: right; 
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
}


.navbar li:hover {
  background-color: #d1d1d1;
  color:#fc1919;
}

.navbar a:visited {
  color: inherit;
}

.navbar a {
  text-decoration: none; /* Remove underline from navbar fields */
  
}

.navbar-logo {
  height: 60px; 
  margin-left: 10px; /* Add some space from the left edge of the navbar */
  float: left; /* Align the logo to the left */
}

@media screen and (max-width: 619px) {

  .navbar li {
    width: 80px;
    font-size: 16px;
    padding: 11px;
    margin-top: 7px;
  }
}