.event-details-container h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-top: 40px;
}

.description-box {
    border: 2px solid red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto; /* Centers the box */
    max-width: 1000px; /* Adjust the width as needed */
}
  
  .description-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em; /* Keeps the title size moderate */
    margin: 0 0 10px 0; /* Space below the title */
    color: rgb(255, 0, 0); /* Optional: Makes the title color red */
}
  
  .description-content {
    text-align: center;
    font-size: 1em; /* Adjust the font size as needed */
    overflow-wrap: break-word;
}


.description-box {
    border: 2px solid red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto; /* Centers the box */
    max-width: 800px; /* Adjust the width as needed */
    text-align: center;
  }
  
  .icon-text {
    display: inline-block;
    margin: 0 8px; /* Adds some spacing around the text */
    vertical-align: middle;
  }
  
  .date-icon,
  .time-icon,
  .location-icon {
    vertical-align: middle;
    margin-right: 4px; /* Adds a little space between the icon and the text */
    /* If you're using Font Awesome, you might add classes like 'fa fa-calendar' for date and 'fa fa-clock-o' for time */
  }


  @media screen and (max-width: 619px) {

    .description-box{

      max-width: 430px;
    }
    
  
    
  }