.event-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    justify-content: center;
    align-items: flex-start;
}

.event-card {
    display: flex;
    flex-direction: column;
    width: 270px;
    background-color: #f7f7f7;
    opacity: 0.8;
    border-radius: 20px;
    margin: 0px 20px 20px 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2), /* dark Shadow for right and bottom */
                 -5px -5px 10px rgba(255, 255, 255, 0.5); /* Light shadow for top and left */
    padding: 10px 10px 10px 10px;
    justify-content: flex-start;
    align-content: center;
    height: auto; 
    overflow: hidden; /* Hide the overflow content */
    user-select: none;
    cursor: pointer;
    
}

.event-card.expanded .description {
    height: auto; /* Remove max-height when expanded 21.6px*/
    overflow: visible;
    
}

.description{
    margin-top: 0px;
    height: 21.6px; /* Height for the collapsed state */
    overflow: hidden;
    
}

.top-box {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 0px;
}

.left-align {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.right-align {
    justify-content: flex-end;
    flex-grow: 1.0;
    display: flex;
    flex-direction: row;
}

.event-title {
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 2px;
    text-transform: uppercase;
}

.capacity {
    text-align: right;
    color: gray;
    font-size: 15px;
    height: auto;
    margin-right: 5px;
    margin-top: 2px;
}

.request-button {
    background-color: #d3523e;
    height: 30px;
    width: 100px;
    color: white;
    font-size: 12px;
    padding: 0px 0px 0px 0px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    
}

.request-button:hover{
    background-color: #0056b3;
    transition: background-color 0.3s;
}

.pending {
    background-color: #5a5555;
    cursor: not-allowed;
}

.location {
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.bottom-box {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
}

.search-bar{
    background-color: blue;
}

.no-events-message{
    background-color: red;
   
}