.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  
  }
  
  .popup-content {
      background-color: #fff;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      position: relative;
      width: 50%; /* Adjust width */
      max-width: 600px; /* Adjust maximum width */
  }
  .ce-header {
      margin: 0px 0px 10px 0px;
  }
  
  .close-button {
      position: absolute;
      top: 18px; /* Position from the top of the popup */
      right: 10px; /* Position from the right of the popup */
      background: none;
      color: #000000; /* Change color here */
      font-size: 24px;
      cursor: pointer;
      padding: 10px; /* Increase padding to make the button larger */
      border: none;
  }
  
  .close-button:hover {
      color: #ffffff; /* Red color on hover */
      background: #ff0000; /* Maintain the background color on hover */
  }
  
  input[type="text"],
  input[type="datetime-local"],
  textarea {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }
  
  textarea {
      resize: vertical;
      min-height: 50px;
      max-height: 300px;
      overflow: auto; /* Adds scrollbars  */
  }
  
  .max-people {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 70px 0px 0px;
  
  }
  
  .max-people button {
      padding: 5px 10px;
      margin: 0 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: #f0f0f0;
      color: #000000;
      cursor: pointer;
  }
  
  .max-people button:hover {
      background: #d1d1d1;
      color: #ff0000;
  }
  
  .max-people span {
      padding: 5px 10px;
  }
  
  .create-button-container {
      text-align: right; /* Aligns the button to the right */
      margin-top: 20px; /* Space above the button */
  }
  
  .create-button {
      padding: 10px 20px; /* Size of the button */
      background-color: #007bff; /* Background color */
      color: #fff; /* Text color */
      border: none; /* No border */
      border-radius: 5px; /* Rounded corners */
      cursor: pointer; /* Mouse pointer on hover */
      font-size: 16px; /* Font size */
  }
  
  .create-button:hover {
    background-color: #0056b3; /* Darker background on hover */
    transition: background-color 0.3s;
  
  }
  