.my-events-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; /* add space before text*/
}

.event-button-container {
  margin-top: -20px; /*remove gap b/w btn&txt */
  display: flex;
  justify-content: center;
}

.event-tab button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #020000;
  margin-right: 1em;
  margin-bottom: 0.5em;
  font-weight: 500;
  margin-left: 0.5em;
  cursor: pointer;
}

.pending-button {
  background-color: rgb(255, 119, 21);
  height: 30px;
  width: 100px;
  color: white;
  font-size: 12px;
  padding: 0px 0px 0px 0px;
  border-radius: 15px;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
}

.pending-button:hover {
  background-color: rgb(242, 145, 0);
  cursor: pointer;
}

.event-tab {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin: 2em;
  margin-bottom: 0;
}

.active-tab {
  color: #ff0000 !important;
  text-decoration: underline;
}
.myevent-list {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(233, 233, 233);
  padding: 20px;
  margin: 2em;
  margin-top: 0;
  border-radius: 10px;
}

.event-button {
  background-color: #ffffff; /* Background color */
  border-radius: 15px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the button */
  font-size: 100px; /* Font size of + */
  color: #a1a0a0;
  cursor: pointer;
  outline: none;
  width: 280px;
  height: 160px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    /* dark Shadow for right and bottom */ -5px -5px 10px
      rgba(255, 255, 255, 0.5); /* Light shadow for top and left */
  border: none;
  margin-top: 4px;
  transition: 0.3s;
}

.manage-button-container {
  position: relative;
  display: inline-block;
  /* other styles */
}

.pending-requests-bubble {
  position: absolute;
  top: -6px; /* Adjust as needed */
  right: -6px; /* Adjust as needed */
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  background-color: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
}

.event-button:hover {
  background-color: #f5f5f5; /* Light grey background on hover */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    /* Smaller shadow for a pressed effect */ -2px -2px 5px
      rgba(255, 255, 255, 0.5);
  color: #ff0000;
}

.delete-button {
  background-color: #ff0000;
  height: 30px;
  width: 30px;
  color: white;
  margin-left: 5px;
  font-size: 12px;
  padding: 0px 0px 0px 0px;
  border-radius: 15px;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
}
.delete-button:hover {
  background-color: #d10000;
}
.myevents-line {
  display: block;
  border: solid #ff5555 2px;
  margin: 40px 20px 20px 20px;
}

.manage-button {
  border: solid;
  padding: 2px;
  border-radius: 100%;
  background-color: transparent;
  color: #007bff;
  font-style: italic;
  margin-bottom: 12px;
  margin-left: 8px;
  font-size: 16px;
  transform: translateY(-1px);
  cursor: pointer;
}

.edit-button {
  background-color: #007bff;
  height: 30px;
  width: 30px;
  color: white;
  font-size: 12px;
  padding: 0px 0px 0px 0px;
  border-radius: 15px;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
}

.edit-button:hover {
  background-color: #003a79;
}

.leave-button {
  background-color: rgb(232, 1, 1);
  height: 30px;
  width: 100px;
  color: white;
  font-size: 12px;
  padding: 0px 0px 0px 0px;
  border-radius: 15px;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
}

.leave-button:hover {
  background-color: #ff1616;
  cursor: pointer;
}

.empty-events-message {
  color: #d3523e;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  text-align: center;
  font-size: 16px;
}
