.my-events-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; /* add space before text*/
}

.event-button-container {
  margin-top: -20px; /*remove gap b/w btn&txt */
  display: flex;
  justify-content: center;
}

.event-button {
  background-color: #ffffff; /* Background color */
  border-radius: 15px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the button */
  font-size: 100px; /* Font size of + */
  color: #a1a0a0;
  cursor: pointer;
  outline: none;
  width: 280px;
  height: 160px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    /* dark Shadow for right and bottom */ -5px -5px 10px
      rgba(255, 255, 255, 0.5); /* Light shadow for top and left */
  border: none;
  margin-top: 4px;
}

.event-button:hover {
  background-color: #d1d1d1; /* Light grey background on hover */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    /* Smaller shadow for a pressed effect */ -2px -2px 5px
      rgba(255, 255, 255, 0.5);
  color: #ff5555;
}

.delete-button {
  background-color: #ff0000;
  height: 30px;
  width: 30px;
  color: white;
  margin-left: 5px;
  font-size: 12px;
  padding: 0px 0px 0px 0px;
  border-radius: 15px;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
}
.delete-button:hover {
  background-color: #d10000;
}
.myevents-line {
  display: block;
  border: solid #ff5555 2px;
  margin: 40px 20px 20px 20px;
}

.edit-button {
  background-color: #007bff;
  height: 30px;
  width: 30px;
  color: white;
  font-size: 12px;
  padding: 0px 0px 0px 0px;
  border-radius: 15px;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
}

.edit-button:hover {
  background-color: #003a79;
}
